/*start sticker*/
.content-sticker ul li,
#content1 ul li{
    list-style: none;
    line-height: 25px;
    margin-top: 10px;
    text-align:justify;
}
#sticker{
    margin-top:-60px;
}
.content-sticker{
    background-color: rgba(245, 242, 248, 0.8);
}
.content-sticker ul li {
    float: left;
    height: 250px;
    margin: 10px;
    text-align: center;
}
.content-sticker ul li .stickimage{
    height: 220px;

}
.content-sticker .downloadimage{
    background-image: url("/img/buttondownload.png");
    width: 162px;
    height: 35px;
    margin: 0px auto;
}
.content-sticker ul li a{
    line-height: 35px;
    text-transform: uppercase;
}
.content-sticker ul li a:hover{
    text-decoration: none;
}
.content-sticker ul li a:hover .downloadimage{
    border: 1px solid #ccc;
}
#sticker .rule{
    height: 460px;
    font-size: 16px;
}
/*end sticker*/
/* -- event-- */
#events{
    width: 100%;
    border-radius: 1px;
    background-color: rgba(255,255,255,0.8);
    /*margin-top: 18px;*/
    min-height: 450px;
    margin-top:-8px;
}
#events .content_event{
    text-align: center;
    padding-top: 20px;
}
#events .text_event{
    text-align: center;
    font-size: 30px;
    color:#875FA5 ;
    width: 80%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 50px;
}
/* -- the le -- */
.thele .title{
    margin-left: 40%;
    text-align: center;

}
#thele ul{
    padding: 0px;
}
#thele{
    margin-left: 40%;
    color: #875FA5;
}
#thele > img.thelecuocthi {
    margin-top: 24px;
}
#thele > div {
    width: 100%;
    border-radius: 1px;
    background-color: rgba(255,255,255,0.8);
    /*margin-top: 18px;*/
    padding: 30px 10px 20px 30px;
    margin-bottom: 20px;
}
#thele .rule {
    font-family: 'Open Sans',sans-serif;
    font-size: 18px;
    padding-right: 24px;
}
#thele td > p {
    margin: 4px;
}
#thele .rule{
    height: 460px;
    font-size: 16px;
}
.term strong {
    color: #7b519d;
}
