
#Results {
    padding : 0 50px;
}
.nav-tabs>li {
    padding : 3px 0 1px 0;
    border  : 1px transparent solid;
}
.nav-tabs>li>a {
    background     : #aae1f7;
    font-size      : 16px;
    font-weight    : 600;
    color          : #0076a3;
    line-height    : 22px;
    text-transform : uppercase;
    border         : none!important;
    border-radius  : 0!important;
}
.nav-tabs>li>a:hover {
    background : url(../img/microsite/white_85.png) 0 0 repeat;
}
.nav-tabs>li.active {
    background    : url(../img/microsite/white_85.png) 0 0 repeat;
    border-radius : 0;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    background     : transparent;
    font-family    : 'viberfontbold';
    font-size      : 23px;
    color          : #7b509c;
    text-transform : none;
}
.tab-pane {
    padding     : 15px;
    font-family : 'viberfontlight';
    font-size   : 18px;
    text-align  : center;
}
#TabContents {
    position   : relative;
    z-index    : 10;
    background : url(../img/microsite/white_85.png) 0 0 repeat;
    color      : #333;
}
#Figure {
    margin : 20px auto;
}
.tab-pane {
    min-height : 100px;
}
.tab-pane p{
    font-weight : bold;
    color       : #7b509c;
}
.scroller{
    max-height : 475px;
}
th{
    font-weight : bold;
    text-align  : center;
}
tr.winner td{
    font-size : 105%;
    color     : #7b509c;
}
.nicescroll-rails{
    width  : 7px!important;
    border : 1px #472d71 solid;
}
.nicescroll-rails > div{
    border        : none!important;
    border-radius : 0!important;
}
#FilterForm{
    margin : 20px 0px 10px;
}
#FilterForm select{
    height             : 35px;
    padding            : 5px 12px;
    font-family        : 'viberfontlight';
    font-size          : 18px;
    border             : 1px #684e7f solid;
    border-radius      : 2px;
    box-shadow         : inset 0 2px 5px rgba(0, 0, 0, .3);
    -webkit-box-shadow : inset 0 2px 5px rgba(0, 0, 0, .3);
}
#FilterForm input[type=submit] {
    background-color   : #aae1f7;
    font-family        : 'viberfontlight';
    font-size          : 18px;
    color              : #004a80;
    line-height        : 20px;
    border-color       : #7dc8e5;
    border-radius      : 2px;
    box-shadow         : 0 1px 2px #684e7f;
    -webkit-box-shadow : 0 1px 2px #684e7f;
}
#FilterForm input[type=submit]:hover {
    background-color : #7dc8e5;
}
.top{
    margin-bottom : 30px;
    text-align    : left;
}
.winner-thumb{
    display : none;
}
.top .winner-thumb img{
    display : inline-block;
    float   : left;
}
.winner-thumb img{
    height           : 80px;
    width            : 80px;
    margin-right     : 15px;
    background-color : #7b509c;
    border           : 2px #7b509c solid;
    border-radius    : 10px;
}
.winner-thumb h2{
    font-size   : 22px;
    font-weight : bold;
    color       : #7b509c;
}
.winner-thumb h3{
    overflow      : hidden;
    max-width     : 100%;
    margin        : 0 0 10px 0;
    text-overflow : ellipsis;
}
.winner-thumb .detail{
    padding : 0 10px;
}